@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
	background-color: #C7E0F8;
	color: #333;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
	color: dodgerblue;
}
a:hover{
	text-decoration: underline;
	color: darkblue;	
}

img{
	width: 100%;	
}

#navbar{
	background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    z-index: 100;
    overflow: hidden;
}
#navbar ul{
	list-style-type: none;	
	margin: 0;
	padding: 0;	
}
h2{
	font-size: 20px;
	font-weight: bold;
}
/*####################################################*/

/*####################################################*/

#navbar li{
	float: left;	
}
#navbar li a{
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	color: aliceblue;
}

#navbar li.active a {
	color: red;
}

#navbar li a:hover{
	background-color: coral;
	color: black;
}

form{
	max-width: 750px;
	border: 1px solid #ddd;
	border-radius: 10px;	
	margin: 0;
}

form div{
	padding: 15px;
}

input{
	width: 90%;	
	display: block;
}
button{
	width: 90%;
	height: 50px;
	padding: 15px;
}


.myicon{
	color: aliceblue;
	font-size: 1.5em;
	padding: 10px;
	display: none;
}
#content{
	
	max-width: 1180px;
	position: relative;
	top: 80px;
	margin: 0 auto;
	background-color: #fff;
	padding: 2px;
}
#content header{
	/*border: 1px solid;*/
	height: 125px;
	padding: 10px 20px;
	background-color: #ddd;
	border-radius: 1em;
	/*margin: 20px;*/
}

#first{
	/*border: 1px solid;*/
	width: 40%;
	float: left;
	padding: 5px;
}
#second{
	/*border: 1px solid;*/
	width: 40%;
	float: left;
	padding: 5px;
}
#content aside{
	/*border: 1px solid;*/
	width: 20%;
	float: left;
	padding: 5px;	
}
#content footer{
	clear: both;
	width: 100%;
	background-color: #ddd;
	text-align: center;
	height: 100px; 
	padding: 25px;
}

/*Diseño responsivo para pantalla con un maximo de 820*/
@media screen and (max-width: 820px){
	#content{
		padding: 0;
		max-width: 100%;
	}
	#content header{
		padding: 0;
		border-radius: 0;
		background-color: #F27979;
	}
	#first{
		padding: 3%;
		width: 45%;
		background-color: #62F376;
	}
	#second{
		float: right;
		padding: 3%;
		width: 45%;	
		background-color: #6496F3;
	}
	#content aside{
		clear: both;
		padding: 10%;
		width: 100%;
		background-color: #F7F68A;	
	}
	#content footer{
		width: 100%;
		padding: 0;
		background-color: #E892F7;
	}
}

/*Diseño responsivo para pantalla con un maximo de 600*/
@media screen and (max-width: 600px){
	#content{
		width: auto;
	}
	#first{		
		width: auto;
		float: none;
		margin: 0px;
		background-color: #68A8FE;
	}
	#second{
		width: auto;
		float: none;
		margin: 0px;
		background-color: #68A8FE;
	}
	#content aside{
	padding: 0;
	width: auto;
	background-color: #68A8FE;
	}
	#content footer{
		width: auto;
		background-color: #E892F7;
	}
	.list_sm{
		display: none;
	}
	#navbar li{
		float: none;
		display: block;

	}
	#navbar li a{
		padding: 5px;
		text-align: left;
		width: 100%;
	}
	.myicon{
		display: block;
		text-align: right;		
	}
}
