body{
	background-color: #EFE4E4;
	color: #333;
}
a{
	text-decoration: none;
	color: dodgerblue;
}
a:hover{
text-decoration: underline;
color: darkblue
}
img{

	width: 100%
}
#navbar{
	background-color: #000;
	position: absolute;
	left: 0;
	top 0;
	width: 100%;
}
#navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	z-index: 100;	
}
#navbar li{
	float: left;	
}

#navbar li a{
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	font-size: 1em;
	text-align: center;
	color: aliceblue;
}
#navbar li a:hover{
	background-color: coral;
	color: black;
}

.myicono{
	color: aliceblue;
	font-size: 1.5em;
	padding: 10px;
	display: none;
}
#content{
	
	max-width: 1180px;
	position: relative;
	top: 80px;
	margin: 0 auto;
}
#content header{
	/*border: 1px solid;*/
	height: 120px;
	padding: 10px 20px;
	background-color: #ddd;
	border-radius: 1em;
}
#first{
	/*border: 1px solid;*/
	width: 40%;
	float: left;
	padding: 5px;
}
#second{
	/*border: 1px solid;*/
	width: 40%;
	float: left;
	padding: 5px;
}
#content aside{
	/*border: 1px solid;*/
	width: 20%;
	float: left;
	padding: 5px;
}
#content footer{
	clear: both;
	width: 100%;
	background-color: #ddd;
	/*padding: 10px 20px;*/
	/*border: 1px solid;*/
	/*border-radius: 1em;*/
	height: 100px;
	padding: 25px;
}
